@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  outline: none;
}

.marquee-container > * {
  margin: 0 !important;
  padding: 0 !important;
}

ol,
ul,
menu {
  list-style: revert; /* Hoặc bạn có thể để list-style mặc định */
  margin: revert; /* Trả về giá trị mặc định của trình duyệt */
  padding: revert; /* Trả về giá trị mặc định của trình duyệt */
}

.disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply size-0;
}

::-webkit-scrollbar-track {
  @apply bg-gray-400 rounded-lg;
}

::-webkit-scrollbar-thumb {
  // @apply bg-[#2FB9BD] rounded-lg;
  background: linear-gradient(45deg, #3b82f6, #6366f1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  // background-color: #555;
  background: linear-gradient(45deg, #2563eb, #4f46e5);
}

.custom-tailwind {
  .custom-transition {
    @apply duration-300 transition-all ease-in-out;
  }

  .custom-transition-colors {
    @apply duration-300 transition-colors ease-in-out;
  }

  .custom-container {
    @apply 3xl:mx-60 xxl:mx-40 xl:mx-32 lg:mx-10 md:mx-8 mx-4 4xl:px-[25%];
  }

  // .custom-container {
  //     @apply 3xl:mx-60 xxl:mx-40 xl:mx-56 lg:mx-56 md:mx-8 mx-4 4xl:px-[25%];
  // }

  .custom-container-no-right {
    @apply 3xl:ml-28 xxl:ml-24 xl:ml-20 lg:ml-16 md:ml-8 ml-4;
  }

  .custom-container-no-left {
    @apply 3xl:mr-28 xxl:mr-24 xl:mr-20 lg:mr-16 md:mr-8 mr-4;
  }

  .custom-padding-right {
    @apply 3xl:pr-20 xxl:pr-24 xl:pr-20 lg:pr-16 md:pr-8 pr-4;
  }
}

.custom-size-text {
  // chỉ sử dụng cho section nổi bật
  .text-title-section {
    @apply 3xl:text-[64px] 2xl:text-[54px] xxl:text-[52px] xl:text-[48px] lg:text-[40px] md:text-[38px] text-[26px] 3xl:!leading-[104px] 2xl:!leading-[94px] xxl:!leading-[90px] xl:!leading-[88px] lg:!leading-[70px] md:!leading-[60px] !leading-[46px] tracking-normal;
  }

  .text-title-section-small {
    @apply 3xl:text-[36px] 2xl:text-[32px] xxl:text-[32px] xl:text-[28px] md:text-[28px] text-[24px] 3xl:!leading-[56px] 2xl:!leading-[46px] xxl:!leading-[46px] xl:!leading-[42px] md:!leading-[38px] !leading-[34px] tracking-[-2%];
  }

  .text-title {
    @apply 3xl:!text-2xl xl:!text-xl lg:!text-lg !text-xl !tracking-[2%];
  }

  .text-button {
    @apply 3xl:!text-xl xl:!text-lg lg:!text-base !text-xl !tracking-[1%];
  }

  .text-default {
    @apply 3xl:!text-lg xl:!text-base lg:!text-sm !text-lg !tracking-[1%];
  }

  .text-sm-default {
    @apply 3xl:!text-base xxl:!text-sm lg:!text-xs !text-base !tracking-[1%];
  }

  .text-xs-default {
    @apply 3xl:!text-sm xl:!text-xs lg:!text-[11px] !text-sm !tracking-[1%];
  }

  .text-sxs-default {
    @apply 3xl:!text-xs xl:!text-[10px] lg:!text-[10px] !text-xs !tracking-[1%];
  }

  .text-table-default {
    @apply 3xl:!text-lg xl:!text-base lg:!text-sm !text-sm !tracking-[1%];
  }

  .text-sm-table-default {
    @apply 3xl:!text-base xl:!text-sm lg:!text-xs !text-xs !tracking-[1%];
  }

  .text-xs-table-default {
    @apply 3xl:!text-sm xl:!text-xs lg:!text-xs !text-[11px] !tracking-[1%];
  }

  .text-custom-href a[href] {
    @apply underline text-blue-800;
  }
}

.border-gradient {
  .border-gradient-gray {
    --border-radius: 6px;
    --border-width: 1px;
    --border-color: rgba(9, 9, 11, 0.2);

    position: relative;
    display: inline-block;
    border-radius: var(--border-radius);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: var(--border-width);
      background: linear-gradient(
        180deg,
        var(--border-color) 0%,
        rgba(9, 9, 11, 0.05) 16%,
        rgba(9, 9, 11, 0.05) 86%,
        rgba(9, 9, 11, 0) 100%
      );
      pointer-events: none;
      z-index: -1;

      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-swiper-pagination {
  .swiper-pagination {
    @apply w-screen text-center bottom-0;
    // @apply md:text-start text-center 3xl:-bottom-[5px] 2xl:bottom-6 xl:bottom-8 lg:bottom-10 bottom-12;
    .swiper-pagination-bullet {
      @apply w-12 bg-[#bbc3c9] rounded-sm;
    }
    .swiper-pagination-bullet-active {
      background: linear-gradient(180deg, #9dffb3 0%, #1aa37a 100%);
      @apply w-12 rounded-sm;
    }
  }
}
